*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/feature/screens/screengps/build/
/feature/screens/screengps/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/screens/screenhotels/build/
/feature/screens/screenhotels/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/screens/screenprofile/build/
/feature/screens/screenprofile/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/screens/screensubscribers/build/
/feature/screens/screensubscribers/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/anywheretickets/build/
/feature/tickets/anywheretickets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/firetickets/build/
/feature/tickets/firetickets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/musicaltickets/build/
/feature/tickets/musicaltickets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/searchtickets/build/
/feature/tickets/searchtickets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/showtickets/build/
/feature/tickets/showtickets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/ticketstocountry/build/
/feature/tickets/ticketstocountry/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/tickets/weekends/build/
/feature/tickets/weekends/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/shared/tickets/core/build/
/shared/tickets/core/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/